.centerButton {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        margin: 0px;
        color: #e25757;
        cursor: pointer;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}