$base-color: #f1f6f7;
$primary-color: #009aae;
$success-color: #26a65b;
$danger-color: #f64747;
$disabled-color: #929292;
$activate-color: #00727a;

$wrapper-border: solid 0.7px #dfe5f9;
$input-border: solid 1px $primary-color;
